<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container">
    <a class="navbar-brand" routerLink="/">AlphaGym</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/nutrition">Nutrition</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/training">Training</a>
        </li>

        <ng-container *ngIf="loginService.isLogged; else loggedOutLinks">
          <li class="nav-item">
            <a class="nav-link" routerLink="/account">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="loginService.logout()">Log out</a>
          </li>
        </ng-container>

        <ng-template #loggedOutLinks>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Log in</a>
          </li>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>

