<!-- Start Comments Section -->
<section class="container py-5 flex-grow-1" id="ajaxPagination">
    <h2 class="text-center mb-4">Comments for Nutrition Diet: {{ nutrition.name }}</h2>
  
    <div class="mb-3">
      <img
        [src]="'/api/nutritions/' + nutrition.id + '/image'"
        class="card-img-top"
        id="uNutritionImage"
        [alt]="nutrition.name"
      />
    </div>
  
    <div id="resultsContainer" class="row">
      <div
        class="col-12 col-md-4 mb-4"
        *ngFor="let comment of comments"
      >
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ comment.name }}</h5>
            <p class="description">{{ comment.description }}</p>
          </div>
  
          <div class="btn-div-extra">
            <a
              *ngIf="logged"
              class="btn-load"
              [routerLink]="['/nutrition', nutrition.id, comment.id, 'editcomment']"
            >Edit</a>
  
            <a
              *ngIf="admin"
              class="btn-load-2-delete goToDeleteCommentDiet"
              (click)="deleteComment(comment.id)"
            >Delete</a>
  
            <a
              *ngIf="logged && !admin"
              class="btn-load-2"
              [routerLink]="['/nutrition', nutrition.id, comment.id, 'report']"
            >Report</a>
          </div>
        </div>
      </div>
  
      <p *ngIf="comments.length === 0">No hay comentarios todavía para esta dieta</p>
    </div>
  
    <!-- Load more button and add comments button -->
    <div class="text-center">
      <a id="loadMore" class="btn-load" (click)="loadMoreComments()">More Comments</a>
  <!--*ngIf="logged"-->
      <a
        id="addComment"
        class="btn-load"
        [routerLink]="['/nutrition','new', nutrition.id]"
      >Add Comment</a>
        
      <a class="btn-load" (click)="goBack()">Return</a>
    </div>
  </section>
  <!-- End Comments Section -->
  