<div class="container mt-5" *ngIf="!isLoading; else loading">
    <h2 class="text-center">
      {{ formTitle }}
    </h2>


  <div class="mb-3" *ngIf="isEditMode">
    <img [src]="'/api/nutritions/' + nutritionId + '/image'" [alt]="nutritionForm.get('name')" class="card-img-top">
  </div>

    <form [formGroup]="nutritionForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate>
      <div class="d-flex justify-content-center gap-3" *ngIf="isEditMode">
        <div class="btn btn-primary">
          <input type="file" class="form-control" id="imageField" (change)="onImageSelected($event)">
          <label for="imageField">Change Image</label>
        </div>
      </div>


      <!-- Input: Diet Name -->
      <div class="mb-3">
        <label class="form-label fw-bold">Diet Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          [ngClass]="{ 'is-invalid': nutritionForm.get('name')?.invalid && nutritionForm.get('name')?.touched }"
          placeholder="Enter nutrition name"
        />
        <div class="invalid-feedback">Name is required</div>
      </div>

      <!-- Input: Calories -->
      <div class="mb-3">
        <label class="form-label fw-bold">Diet Calories (kilocalories)</label>
        <input
          type="number"
          class="form-control"
          formControlName="calories"
          cal="100"
          [ngClass]="{ 'is-invalid': nutritionForm.get('calories')?.invalid && nutritionForm.get('calories')?.touched }"
        />
        <div class="invalid-feedback">Enter a valid calories</div>
      </div>

      <!-- Select: Goal -->
      <div class="mb-3">
        <label class="form-label fw-bold">Diet Goal</label>
        <select
          class="form-select"
          formControlName="goal"
          [ngClass]="{ 'is-invalid': nutritionForm.get('goal')?.invalid && nutritionForm.get('goal')?.touched }"
        >
          <option value="" disabled selected>Select goal</option>
          <option *ngFor="let g of goals" [value]="g">{{ g }}</option>
        </select>
        <div class="invalid-feedback">Goal is required</div>
      </div>

      <!-- Textarea: Description -->
      <div class="mb-3">
        <label class="form-label fw-bold">Diet Meals</label>
        <textarea
          class="form-control"
          rows="4"
          formControlName="description"
          placeholder="Describe exercises in detail"
          [ngClass]="{ 'is-invalid': nutritionForm.get('description')?.invalid && nutritionForm.get('description')?.touched }"
        ></textarea>
        <div class="invalid-feedback">Description is required</div>
      </div>

      <!-- Buttons -->
      <div class="d-flex justify-content-center gap-3">
        <button class="btn btn-primary" type="submit">
          {{ isEditMode ? 'Save changes' : 'Create nutrition' }}
        </button>
        <a [routerLink]="['/nutrition', nutritionId]" class="btn btn-secondary" *ngIf="isEditMode">
          Cancel
        </a>
        <a routerLink="/nutrition" class="btn btn-secondary" *ngIf="!isEditMode">
          Back to list
        </a>
      </div>
    </form>
  </div>

  <ng-template #loading>
    <div class="text-center mt-5">
      Loading...
    </div>
  </ng-template>
