<div class="container d-flex flex-column align-items-center mt-4">

  <div class="w-100 d-flex justify-content-center">
    <div class="form-container-plans3">
      <p class="title text-center">Admin Profile</p>
      <div *ngIf="admin">
        <div class="form">
          <input type="text" class="input" [value]="admin.name" readonly />
          <input type="email" class="input" [value]="admin.email" readonly />
        </div>
      </div>
    </div>
  </div>
  <!-- Chart Title -->
  <div class="w-100 d-flex justify-content-center">
    <div class="form-container-plans3">
      <p class="title text-center">Graphic: Reported vs. Non-Reported</p>
      <!-- Chart -->
      <div style="max-width: 400px; margin: auto; padding: 2rem 0;">
        <canvas #chartCanvas></canvas>
      </div>
    </div>
  </div>


  <!-- Comments -->
  <section class="w-100 mt-4">
    <div class="container-account2 d-flex flex-wrap justify-content-center">


  <!-------------------Training-------------------->
      <div class="form-container-plans2">
        <h1 class="title">Reported Training Comments</h1>
        <ng-container *ngIf="reportedTrainingComments.length > 0; else noTrainingComments">
          <div *ngFor="let comment of reportedTrainingComments" class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{ comment.name }}</h5>
              <p class="description">{{ comment.description }}</p>
              <a (click)="validateTrainingComment(comment)" class="btn-load-3">Validate</a>
              <a [routerLink]="['/trainingComments/editComment', comment.training.id, comment.id]" class="btn-load">Edit</a>
              <a (click)="deleteTrainingComment(comment)" class="btn-load-2">Delete</a>
            </div>
          </div>
        </ng-container>
        <ng-template #noTrainingComments>
          <p>There are no training comments reported.</p>
        </ng-template>
      </div>
  <!-------------------Nutrition-------------------->
      <div class="form-container-plans2">
        <h1 class="title">Reported Nutrition Comments</h1>
        <ng-container *ngIf="reportedNutritionComments.length > 0; else noNutritionComments">
          <div *ngFor="let comment of reportedNutritionComments" class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{ comment.name }}</h5>
              <p class="description">{{ comment.description }}</p>
              <a (click)="validateNutritionComment(comment)" class="btn-load-3">Validate</a>
              <a [routerLink]="['/nutritionComments/editComment', comment.nutrition.id, comment.id]" class="btn-load">Edit</a>
              <a (click)="deleteNutritionComment(comment)" class="btn-load-2">Delete</a>
            </div>
          </div>
        </ng-container>
        <ng-template #noNutritionComments>
          <p>There are no nutrition comments reported.</p>
        </ng-template>
      </div>
    </div>
  </section>
</div>
