<div class="container-account">
  <img src="/assets/images/gym7.jpg" class="fondo-login" alt="gym-register" />
  <div class="form-container">
    <p class="title">Welcome to AlphaGym</p>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <!-- Name Field -->
      <div class="form-group">
        <input
          type="text"
          class="input"
          placeholder="Name"
          formControlName="name"
          [ngClass]="{
            'is-invalid':
              registerForm.get('name')?.invalid &&
              (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)
          }"
          required
        />
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('name')?.hasError('required') &&
            (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)
          "
        >
          Name is required
        </div>
      </div>
      <p></p>

      <!-- Email Field -->
      <div class="form-group">
        <input
          type="email"
          class="input"
          placeholder="Email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              registerForm.get('email')?.invalid &&
              (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)
          }"
          required
        />
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('email')?.hasError('required') &&
            (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)
          "
        >
          Email is required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('email')?.hasError('email') &&
            (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)
          "
        >
          Enter a valid email
        </div>
      </div>
      <p></p>

      <!-- Password Field -->
      <div class="form-group">
        <input
          type="password"
          class="input"
          placeholder="Password"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              registerForm.get('password')?.invalid &&
              (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)
          }"
          required
        />
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('password')?.hasError('required') &&
            (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)
          "
        >
          Password is required
        </div>

        <!-- Error Message -->
        <p class="text-danger" *ngIf="registerErrorMessage">
          {{ registerErrorMessage }}
        </p>
      </div>
      <p></p>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
        Register
      </button>

    </form>
  </div>
</div>
