<div class="container mt-5 flex-grow-1" *ngIf="!isLoading; else loading">
    <h2 class="text-center">
      {{ isEditMode ? 'Edit your comment' : 'Create a new comment' }}
    </h2>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="commentTitle" class="form-label fw-bold">Comment title:</label>
        <input
          type="text"
          id="commentTitle"
          class="form-control"
          formControlName="name"
          [ngClass]="{ 'is-invalid': commentForm.get('name')?.invalid && commentForm.get('name')?.touched }"
        />
      </div>
      <div class="mb-3">
        <label for="commentText" class="form-label fw-bold">Comment:</label>
        <textarea
          id="commentText"
          rows="4"
          class="form-control"
          formControlName="description"
          [ngClass]="{ 'is-invalid': commentForm.get('description')?.invalid && commentForm.get('description')?.touched }"
        ></textarea>
      </div>
      <div class="d-flex justify-content-center gap-3">
        <button *ngIf="logged" type="submit" class="btn-load" [disabled]="commentForm.invalid">Submit Comment</button>
        <button type="button" class="btn-load" (click)="onCancel()">Return</button>
      </div>
    </form>
  </div>
  

  <ng-template #loading>
    <div class="text-center mt-5">
      Loading...
    </div>
  </ng-template>