<section class="container py-5" id="ajaxCards">
    <h2 class="text-center mb-4">Nutrition Plans</h2>
    <div id="resultsContainer" class="row">
      <div
        class="col-12 col-md-4 mb-4"
        *ngFor="let nutrition of nutritions"
      >
        <div class="card shadow-sm">
          <img
            [src]="'/api/nutritions/'+nutrition.id+'/image'"
            class="card-img-top"
            [alt]="nutrition.name"
          />
          <div class="card-body">
            <h5 class="card-title">{{ nutrition.name }}</h5>
            <p class="description">{{ nutrition.description }}</p>
          </div>
          <button
            class="btn btn-service goToShowDiet"
            (click)="goToDiet(nutrition.id)"
          >
            Go to {{ nutrition.name }}!
          </button>
        </div>
      </div>
    </div>
  
    <div class="d-flex justify-content-center gap-3">
      <button id="loadMore" class="btn-load" (click)="loadMoreNutritions()">
        More Diets
      </button>
      <a
        id="newDiet"
        class="btn-load"
        [routerLink]="['/nutrition/new/0']"
      >
        New Diet
      </a>
      <!-- CUANDO ESTE IMPLEMENTADA SEGURIDAD AÑADIR LINEA ANTERIOR ID="NEWDIET": *ngIf="logged"-->
    </div>
  </section>
  
  