<ng-container *ngIf="training; else loading">
  <div class="container mt-5" >
    <h2 class="text-center">Routine Details of routine {{ training.id }} </h2>

    <div class="mb-3">
      <img
        [src]="'/api/trainings/'+training.id+'/image'"
        class="card-img-top"
        [alt]="training.name"
      />
    </div>

    <div class="mb-3">
      <label class="form-label fw-bold">Routine Name</label>
      <p class="form-control">{{ training.name }}</p>
    </div>

    <div class="mb-3">
      <label class="form-label fw-bold">Routine Intensity:</label>
      <p class="form-control">{{ training.intensity }}</p>
    </div>

    <div class="mb-3">
      <label class="form-label fw-bold">Routine Duration:</label>
      <p class="form-control">{{ training.duration }}</p>
    </div>

    <div class="mb-3">
      <label class="form-label fw-bold">Routine Goal:</label>
      <p class="form-control">{{ training.goal }}</p>
    </div>

    <div class="mb-3">
      <label class="form-label fw-bold">Routine exercises:</label>
      <textarea class="form-control" rows="4" readonly>{{ training.description }}</textarea>
    </div>

    <div class="mb-3" *ngIf="logged">
      <a class="btn-load w-100" [routerLink]="['/trainingComments', training.id, 'newComment']">Add Comment</a>
    </div>

    <div class="d-flex justify-content-center gap-3">
      <ng-container *ngIf="logged && !admin">
        <button *ngIf="subscribed" class="btn-load" (click)="onUnsubscribe()">Unsubscribe</button>
        <button *ngIf="!subscribed" class="btn-load " (click)="onSubscribe()">Subscribe</button>
      </ng-container>

      <a class="btn-load" [routerLink]="['/trainingComments', training.id]">View Comments</a>

      <button *ngIf="canEdit" class="btn-load" (click)="goToEdit()">Edit</button>

      <button *ngIf="admin" class="btn-load-delete" (click)="requestDelete()">Delete</button>

      <div *ngIf="showConfirmationModal" class="confirmation-modal">
        <div class="modal-content">
          <p>Are you sure you want to delete this training?</p>
          <div class="modal-actions">
            <button (click)="onDeleteConfirmed()">Confirm</button>
            <button (click)="showConfirmationModal = false">Cancel</button>
          </div>
        </div>
      </div>

      <a class="btn-load" routerLink="/training">Return</a>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
