{{>header}} <!-- Incluimos el header -->
{{>navbar}} <!-- Incluimos el navbar -->
{{#user}}
  <div class="form-container2">
    <h1 class="title">Profile</h1>
  </div>
  <div class="container-account2">
    <form class="form" action='/editAccount' method="post" enctype="multipart/form-data">
      <div id="profile-picture-container">
        <!--<img src="/user/image/{{id}}" alt="User Profile" class="profile-image" id="profileImage">  esto cuando tengamos una imagen valida-->
        <img src="images/profile-picture-default.jpg" class="foto-perfil" alt="Foto de perfil">
      </div>
      <input type="file" name="image" placeholder="Foto" accept=".jpg, .jpeg, .png">
      <div class="profile-container">
          <div class="form-container">
            <h2 class="title">Nombre:</h2>
            <input type="name" class="input" value="{{user.name}}"/>
            <h2 class="title">Email:</h2>
            <input type="email" class="input" value="{{user.email}}" />
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <input type="submit" class="btn-load" value="Submit" />
          </div>  
      </div> 
      </form>  
  </div>
  
  <section>
      <div class="container-account2">
        <div class="form-container-plans2">
          <h1 class="title">Training</h1>

          <ul>
          {{#trainings}}            
                <div class="card shadow-sm">
                  <div class="card-body">
                    <div id="training/nutrition-picture-container">
                      <img src="{{image}}" alt="training" class="training" id="trainingImage">
                    </div>
                    <h5 class="card-title">{{name}}</h5>
                    <h5 class="card-title">{{goal}}</h5>
                    <h5 class="card-title">{{description}}</h5>
                    <h5 class="card-title">{{duration}}</h5>
                    <h5 class="card-title">{{intensity}}</h5>
                    <a href="#" class="btn-load-2">Delete</a>
                  </div>
                </div>
          {{/trainings}}
          </ul>

          {{^trainings}}
          <p>No hay planes de entrenamiento añadidos al perfil</p>
          {{/trainings}}
        </div>

        <div class="form-container-plans2">
          <h1 class="title">Nutrition</h1>

          <ul>
          {{#nutritions}}
              <div class="card shadow-sm">
                <div class="card-body">
                    <div id="training/nutrition-picture-container">
                      <img src="/nutrition/image/{{id}}" alt="nutrition" class="nutrition-image" id="nutritionImage">
                    </div>
                  <h5 class="card-title">{{title}}</h5>
                  <h5 class="card-title">{{name}}</h5>
                  <h5 class="card-title">{{description}}</h5>
                  <a href="#" class="btn-load-2">Delete</a>
                </div>
              </div>
          {{/nutritions}}
          </ul>
          
          {{^nutritions}}
          <p>No hay planes de nutrición añadidos al perfil</p>
          {{/nutritions}}
        </div>
      </div>
  </section>
{{/user}}

{{> footer}}
