{{>header}}

<div class="container-account">
  <img src="..\static\images\usuario.jpg" class="usuario" />
  <div class="form-container">
    <p class="title">Profile</p>
    <form class="form">
      <input type="email" class="input" placeholder="Alicia Rodriguez" />
      <input type="email" class="input" placeholder="aliciaRO@gmail.com" />
      <input
        type="email"
        class="input"
        placeholder="Eugenia de Montijo 76 BºC"
      />
      <input type="password" class="input" placeholder="Change Password" />
      <input type="password" class="input" placeholder="Confirm Password" />

      <a href="account.html" class="btn-load">Submit</a>
    </form>
  </div>
</div>
<section>
  <div class="container-account2">
    <div class="form-container-plans2">
      <p class="title">Training</p>
      <form class="form2">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Plan Pecho</h5>
            <a href="#" class="btn-load-2">Delete</a>
          </div>
        </div>
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Plan Espalda</h5>
            <a href="#" class="btn-load-2">Delete</a>
          </div>
        </div>
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Plan Brazo</h5>
            <a href="#" class="btn-load-2">Delete</a>
          </div>
        </div>
      </form>
    </div>

    <div class="form-container-plans2">
      <p class="title">Nutrition</p>
      <form class="form">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Dieta 1</h5>
            <a href="#" class="btn-load-2">Delete</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{{> footer}}
