{{>header}} <!-- Incluimos el header -->
{{>navbar}} <!-- Incluimos el navbar -->
<!-- Contenedor principal -->
<div class="container d-flex justify-content-center align-items-start flex-wrap mt-4">
  <!-- Perfil del administrador -->
  <div class="form-container-plans3">
    <p class="title text-center">Administrator Profile</p>
    <form class="form" action='/editAdmin' method="post">
      <input type="email" class="input" value="{{admin.name}}"/>
      <input type="email" class="input" value="{{admin.email}}" />
      <input type="hidden" name="_csrf" value="{{token}}"/>
      <input type="submit" class="btn-load" value="Submit" />
    </form>
  </div>

  <div class="d-flex flex-wrap justify-content-between gap-3">
    <div class="card-body2">
      <h5 class="card-title">Notifications: X</h5>
      <div class="d-flex justify-content-center gap-3">
        <a href="#" class="btn-load-2">See Notifications</a>
      </div>
    </div>
  </div>
</div>

{{> footer}}
