{{>header}} <!-- Incluimos el header -->
{{>navbar}} <!-- Incluimos el navbar -->

<!-- Comments Section -->
<section class="container py-5">
  <h2 class="text-center mb-4">Comments</h2>
  <div id="resultsContainer" class="row">

    {{#comment}}
    <div class="col-12 col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="description">{{description}}</p>                  
        </div>
        <a href="#" class="btn-load-2">Report</a><!-- Preguntar al profe si es necesario un post o como enviarlo/recogerlo en la lista del Admin-->
      </div>
    </div>
    {{/comment}}  
  </div>

  <!-- Botón para cargar más y botón de añadir comentarios -->
  <div class="text-center">
    <button id="loadMore" class="btn-load">More Comments</button>
    {{#user}}
    <button
      id="addComment"
      class="btn-load"
      onclick="window.location.href='newComment.html'">
      Add Comment
    </button>
    {{/user}}
    <button class="btn-load" onclick="window.location.href='newRoutine.html'">
      Return
    </button>
    <!-- Este botón debería cambiar la referencia según de dónde venga-->
  </div>
</section>
<!-- Fin Comments Section -->

{{>footer}}
<!-- Incluimos el footer -->
