{{>header}}
{{>navbar}}

<div class="container mt-5">
    <h2 class="text-center">Edit the routine {{training.id}} </h2>
    {{#training.imgTraining}}
    <div class="mb-3">
        <input type="hidden" name="id" value="{{training.id}}">
        <img src="/editTraining/image/{{training.id}}" class="card-img-top" id="uTrainingImage"/>
    </div>
    {{/training.imgTraining}}
    {{^training.imgTraining}}
        <div class="mb-3">
            <img src="/images/emptyImage.png" class="card-img-top" id="uTrainingImage"/>
        </div>
    {{/training.imgTraining}}
    <div class="editImageInputContainer">
        <label for="editTrainingImageInput" class="editImageButton">
            <input type="file" name="imageFile"  accept=".jpg, .jpeg, .png" class="editImageInput" placeholder="foto" onclick="editImage()">
            <span class="editImageButtonText">Editar imagen</span>
        </label>
    </div>
    <form name="editForm" method="post" onsubmit="return validateRoutineForm()" action="/trainings/editTraining/{{training.id}}" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <input type="hidden" name="imageFile" id="trainingImage" value="{{training.image}}" data-training-image="{{training.image}}">
        <div class="mb-3">
            <label class="form-label fw-bold">Routine Name </label>
            <input id="routineName" name="name" type="text" class="form-control" value="{{training.name}}" placeholder="{{training.name}}">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Routine Intensity:</label>
            <select class="form-select" id="intensity" name="intensity" >
                {{#intensities}}
                 <option value="{{intensity}}" {{#selected}}selected{{/selected}}> {{#intensity}}{{.}}{{/intensity}}</option>
                {{/intensities}}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Routine Duration </label>
            <input id="routineDuration" name="duration" type="number" class="form-control" value="{{training.duration}}">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Routine Goal:</label>
            <select class="form-select" id="goal" name="goal">
                {{#goals}}
                    <option value="{{goal}}" {{#selected}}selected{{/selected}}>{{#goal}}{{.}}{{/goal}}</option>
                {{/goals}}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Routine exercises:</label>
            <textarea name="description" class="form-control" rows="4"> {{training.description}} </textarea>

        </div>


        <div class="d-flex justify-content-center gap-3">
            <button class="btn-load" type="submit">Save</button>
            <a href="/trainings/{{training.id}}" class="btn-load">Cancel</a>
        </div>
    </form>
</div>



{{>footer}}