{{>header}} <!-- Incluimos el header -->
{{>navbar}} <!-- Incluimos el navbar -->

<!-- Vista de Rutina -->

<div class="container mt-5">
    <h2 class="text-center">Edit the routine {{training.id}} </h2>
    <form name="editForm" method="post" onsubmit="return validateRoutineForm()" method="post" action="/trainings/editTraining/{{training.id}}">
        <input type="hidden" name="_csrf" value="{{token}}"/>
    <div class="mb-3">
        <label class="form-label fw-bold">Routine Name </label>
        <input id="routineName" name="name" type="text" class="form-control" value="{{training.name}}" placeholder="{{training.name}}">
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold">Routine Intensity:</label>
        <!-- <select class="form-select" id="intensity" name="intensity" >
            <option value="50%" {% if training.intensity =="50%" %}selected{% endif %}>50%</option>
            <option value="60%" {% if training.intensity =="60%" %}selected{% endif %}>60%</option>
            <option value="70%" {% if training.intensity =="70%" %}selected{% endif %}>70%</option>
            <option value="80%" {% if training.intensity =="80%" %}selected{% endif %}>80%</option>
            <option value="90%" {% if training.intensity =="90%" %}selected{% endif %}>90%</option>
            <option value="100%" {% if training.intensity =="100%" %}selected{% endif %}>100%</option>
        </select>
        -->
        <select class="form-select" id="intensity" name="intensity" >
            {{#intensities}}
             <option value="{{intensity}}" {{#selected}}>selected {{/selected}}</option>
            {{/intensities}}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold">Routine Duration </label>
        <input id="routineDuration" name="duration" type="number" class="form-control" value="{{training.duration}}">
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold">Routine Goal:</label>
        <select class="form-select" id="goal" name="goal">
            <option value="Increase_weight" {% if training.goal =="Increase_weight" %}selected{% endif %}>Increase Weight</option>
            <option value="Increase_volume" {% if training.goal =="Increase_volume" %}selected{% endif %}>Increase Volume</option>
            <option value="Lose_weight" {% if training.goal =="Lose_weight" %}selected{% endif %}>Lose Weight</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold">Routine exercises:</label>
        <textarea name ="description" class="form-control" rows="4"> {{training.description}} </textarea>

    </div>


    <div class="d-flex justify-content-center gap-3">
        <button class="btn-load" type="submit">Save</button>
        <a href="/trainings/{{training.id}}" class="btn-load">Cancel</a>
    </div>
    </form>
</div>

<!-- Fin Vista de Rutina -->


{{>footer}} <!-- Incluimos el footer -->