{{>header}} <!-- Incluimos el header -->
 <!--  Incluimos el navbar -->

    <!--Inicio ERROR-->
    <div
      class="modal fade"
      id="errorModal"
      tabindex="-1"
      aria-labelledby="errorModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Error de Página</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Se ha producido un error al intentar acceder a la URL.
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Fin ERROR-->

    <!-- Contenedor del Spinner y Card de Error -->
    <div
      id="errorContent"
      class="text-center mt-5"
      style="display: none; justify-content: center"
    >
      <div id="loadingSpinner">
        <div class="spinner-border text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="CardError">
        <div
          id="errorCard"
          class="card mt-3"
          style="width: 18rem; display: none"
        >
          <img src="/images/error.png" class="card-img-top" alt="Error" />
          <div class="card-body">
            <p class="card-text text-danger fw-bold">
              Oops! Algo salió mal. Intenta nuevamente.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin Contenedor del Spinner y Card de Error -->

{{>footer}}
<!-- Incluimos el footer -->