{{>header}} <!-- Incluimos el header -->
{{>navbar}} <!-- Incluimos el navbar -->

<!-- Formulario de Comentario -->
<div class="container mt-5 flex-grow-1">
  <h2 class="text-center">Create a new comment</h2>
  <form id="commentForm" method="post" action="/comments"><!--Comprobar donde va a ir dirigido el action-->
    <input type="hidden" name="_csrf" value="{{token}}"/>
    <div class="mb-3">
      <!--Comment title -->
      <label for="commentTitle" class="form-label">Comment title:</label>
      <input
        type="text"
        class="form-control"
        id="commentTitle"
        name="title" 
        required
      /><!-- Aqui deberia ir el titulo de la rutina/dieta -->
    </div>
    <div class="mb-3">
      <label for="commentText" class="form-label">Comment:</label>
      <textarea
        class="form-control"
        id="commentText"
        rows="4"
        placeholder="Write here your comment..."
        name="comment"
        required
      ></textarea><!--Aquí va el comentario-->
    </div>
    <div class="d-flex justify-content-center gap-3">
      <button type="submit" class="btn-load">Submit Comment</button>
      <button
        class="btn-load"
        onclick="window.location.href='newRoutine.html'">Return
      </button>
      <!-- Este boton deberia cambiar la referencia segun de donde venga-->
    </div>
  </form>
</div>
<!-- Fin Formulario de Comentario -->

{{>footer}}
<!-- Incluimos el footer -->
