{{>header}} {{! Incluimos el header }}
{{>navbar}} {{! Incluimos el navbar }}

{{! Formulario de Comentario }}
<div class="container mt-5">
  <h2 class="text-center">Create a new comment</h2>
  <form id="commentForm" method="post" action="/comments">
    <div class="mb-3">
      <label for="commentTitle" class="form-label">Comment title:</label>
      <input
        type="text"
        class="form-control"
        id="commentTitle"
        name="title"
        value="{{title}}"
        required
      />
      {{! Aqui deberia ir el titulo de la rutina o dieta }}
    </div>
    <div class="mb-3">
      <label for="commentText" class="form-label">Comment:</label>
      <textarea
        class="form-control"
        id="commentText"
        rows="4"
        placeholder="Write here your comment..."
        name="comment"
        required
      >{{comment}}</textarea>
      {{! Aquí va el comentario }}
    </div>
    <div class="d-flex justify-content-center gap-3">
      <button type="submit" class="btn-load">Submit Comment</button>
      <button
        type="button"
        class="btn-load"
        onclick="history.back()">Return
      </button>
      {{! Este botón debería cambiar la referencia según de dónde venga }}
    </div>
  </form>
</div>
{{! Fin Formulario de Comentario }}

{{>footer}} {{! Incluimos el footer }}
