{{>header}}
{{>navbar}}


    <section class="container py-5">
      <h2 class="text-center mb-4">Nutrition Plans</h2>
      <div id="resultsContainer" class="row">
          {{#nutritions}}
          <div class="col-12 col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <div id="training/nutrition-picture-container">
                  <img src="{{image}}" alt= {{name}} class="nutrition" id="nutritionImage">
                </div>
                <h5 class="card-title">{{name}}</h5>
                  <p>Meals:</p>
                  <p>{{description}}</p>
                <a href="/nutritions/{{id}}" class="btn btn-service">Look for {{name}} details!</a>
              </div>
            </div>
          </div>
          {{/nutritions}}
      </div>

        <div class="text-center">
            <button id="loadMore" class="btn-load">More Results</button>
            {{#logged}}
            <a id ="newNutrition" href="/nutritions/newNutrition" class="btn-load">Add Diet</a>
            {{/logged}}
        </div>
            
    </section>


{{>footer}}
