{{>header}}  <!-- Incluimos el header -->
{{>navbar}}  <!-- Incluimos el navbar -->

    <!-- Register -->
    <div class="container-account">
      <img src="/images/gym7.jpg" class="fondo-login" />
      <div class="form-container">
        <p class="title">Welcome to AlphaGym</p>
        <form class="form">
          <input type="text" class="input" placeholder="Full Name" />
          <input type="email" class="input" placeholder="Email" />
          <input type="password" class="input" placeholder="Password" />
          <input type="password" class="input" placeholder="Confirm Password" />
          <a href="#" class="btn-load">Submit</a><!--REVISAR DESTINO,PROBABLEMENTE SEA PÁGINA PRINCIPAL CARGADO CON EL PERFIL DEL USUARIO-->
        </form>
        <p>Don't have an account?<a href="register.html"> Sign up</a></p>
      </div>
    </div>

{{>footer}} <!-- Incluimos el footer -->  
