{{>header}}  <!-- Incluimos el header -->

  <!--Restar Profile--> 
  <div class="container-account">
    <img src="assets/images/gym6.jpg" class="fondo-login">
    <div class="form-container">
      <p class="title">Reset Password</p>
      <form class="form">
        <input type="email" class="input" placeholder="Email">

        <a href="#" class="btn-load">Enviar</a>
      </form>
      <p>Don't have an account?<a href="register.html"> Sign up</a>
      </p>
    </div>
  </div>
  <!---Inicio footer-->

{{>footer}}  <!-- Incluimos el footer -->