{{>header}} <!-- Incluimos el header -->
{{>navbar}} <!-- Incluimos el navbar -->

<div class="container-account2">
  <div class="form-container2">
    <h1 class="title">Search</h1>
  </div>
  <div class="container-account2">
    <form class="form" action='/search' method="GET">
      <input type="hidden" name="_csrf" value="{{token}}"/>
      <div class="profile-container">
          <div class="form-container">
            <h2 class="title">Search:</h2>
            <input type="text" class="input" name="search" placeholder="Search Training or Nutrition" value="{{searchQuery}}"/>
          </div> 
          <div>
              <button class="btn-load" type="submit">Search</button>
          </div>    
      </div> 
      </form>
  </div>

  <section>
    <div class="container-account2">
      <div class="form-container-plans2">
        <h1 class="title">Training</h1>

        <ul>
        {{#trainings}}            
                <div class="card shadow-sm">
                    <div class="card-body">
                {{#imageDefault}}
                    <div id="training/nutrition-picture-container">
                        <img src="{{imageDefault}}" alt="training" class="training" id="trainingImage">
                    </div>
                {{/imageDefault}}
                {{#imgTraining}}
                    <div id="training/nutrition-picture-container">
                        <img src="{{imgTraining}}" alt="training" class="training" id="trainingImage">
                    </div>
                {{/imgTraining}}
                  <h5 class="card-title">{{name}}</h5>
                  <button class="btn-load-2 goToShowRoutine" data-training-id="{{id}}">Show more details</button>
                </div>
              </div>
        {{/trainings}}
        </ul>

        {{^trainings}}
        <p>No hay planes de entrenamiento añadidos al perfil</p>
        {{/trainings}}
      </div>

    </div>
</section>

{{>footer}}