{{>header}} <!-- Incluimos el header -->
{{>navbar}} <!-- Incluimos el navbar -->

    <!-- Vista de Dieta -->
    <div class="container mt-5">
      <h2 class="text-center">Diet Details of diet {{nutrition.id}}</h2>

      <div class="mb-3">
        <label class="form-label fw-bold">Diet Name:</label>
        <p class="form-control">{{nutrition.name}}</p>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Diet Number of Calories:</label>
        <p class="form-control">{{nutrition.calories}}</p>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Diet Goal:</label>
        <p class="form-control">{{nutrition.goal}}</p>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Meals of the Day:</label>
        <textarea class="form-control" rows="4" readonly>
                {{nutrition.description}}
            </textarea>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Comments:</label>
          <a class="btn-load w-100" href="/nutritionComments/{{nutrition.id}}/newComment"> Add Comment </a>

      </div>

      <div class="d-flex justify-content-center gap-3">
        <button class="btn-load">Suscribe</button>
        <a class="btn-load" href="/nutritionComments/{{nutrition.id}}" >
          View Comments
        </a>
        <a href="/nutritions/editNutrition/{{nutrition.id}}" class="btn-load">Edit Diet</a>
        <a class="btn-load" href="/nutritions/delete/{{nutrition.id}}">Delete</a>
        <a href="/nutritions" class="btn-load">Return</a>
      </div>
    </div>
    <!-- Fin Vista de Dieta -->

{{>footer}} <!-- Incluimos el footer -->
