{{>header}}  <!-- Incluimos el header -->
{{>navbar}}  <!-- Incluimos el navbar -->

    <!-- Vista de Rutina -->

    <div class="container mt-5">
      <h2 class="text-center">Routine Details of routine {{training.id}} </h2>
        <div class="mb-3">
         <img src="{{training.image}}" class="card-img-top" alt="{{training.name}}" />
        </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Routine Name </label>
          <p class="form-control">{{training.name}}</p>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Routine Intensity:</label>
        <p class="form-control">{{training.intensity}}</p>
      </div>
      <div class="mb-3">
            <label class="form-label fw-bold">Routine Duration:</label>
            <p class="form-control">{{training.duration}}</p>
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Routine Goal:</label>
        <p class="form-control">{{training.goal}}</p>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Routine exercises:</label>
        <textarea class="form-control" rows="4" readonly>{{training.description}}</textarea>
      </div>
{{#logged}}
      <div class="mb-3">
        <a class="btn-load w-100" href="/trainingComments/{{training.id}}/newComment"> Add Comment </a>
      </div>
{{/logged}}

      <div class="d-flex justify-content-center gap-3">
    {{#logged}}
        <button class="btn-load">Suscribe</button>
    {{/logged}}
        <a class="btn-load" href="/trainingComments/{{training.id}}">View Comments</a>
        <button class="btn-load goToEditRoutine" data-training-id="{{training.id}}" >Edit</button>
        {{#admin}}
            <a class="btn-load" href="/trainings/delete/{{training.id}}">Delete</a>
        {{/admin}}
        <a class="btn-load" href="/trainings">Return</a>
      </div>
    </div>
    <!-- Fin Vista de Rutina -->

{{>footer}} <!-- Incluimos el footer -->