{{>header}}  <!-- Incluimos el header -->
 <!-- Incluimos el navbar -->

    <!-- Training Plans Section -->
    <section class="container py-5">
      <h2 class="text-center mb-4">Training Plans</h2>
      <div id="resultsContainer" class="row">

          {{#trainings}}
              <div class="col-12 col-md-4 mb-4">
                  <div class="card shadow-sm">
                      <img src="{{image}}" class="card-img-top" alt="{{name}}" />
                      <div class="card-body">
                          <h5 class="card-title">{{name}}</h5>
                          <p class="description">{{description}}</p>
                      </div>
                      <button  onclick="window.location.href='showRoutine.html'" class="btn btn-service">Go to {{name}}!</button>
                  </div>
              </div>
          {{/trainings}}

      </div>

      <!-- Botones en la misma línea -->
      <div class="d-flex justify-content-center gap-3">
        <button id="loadMore" class="btn-load">More Results</button> <!-- AJAX -->
        <button id="newRoutine" class="btn-load"  onclick="window.location.href='newRoutine.html'">New Routine</button>
      </div>
    </section>
    <!-- Fin Training Plans Section -->

{{>footer}}  <!-- Incluimos el footer -->
